{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
{% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div class="academic-profile" itemscope itemtype="http://schema.org/Person">

      <div class="author__avatar">
            {% if author.avatar contains "://" %}
            <img src="{{ author.avatar }}" alt="{{ author.name }}">
            {% else %}
            <img src="{{ author.avatar | prepend: " /images/" | prepend: base_path }}" class="author__avatar"
                  alt="{{ author.name }}">
            {% endif %}
      </div>

      <div class="author__content">
            <h3 class="author__name">{{ author.name | upcase }}</h3>
            {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
      </div>

      <div class="author__urls-wrapper">
            <button class="btn btn--inverse">Follow</button>
            <ul class="author__urls social-icons">
                  {% if author.bio %}
                  <li><i class="fa fa-fw fa-briefcase" aria-hidden="true"></i> {{ author.bio }}</li>
                  {% endif %}
                  {% if author.lab %}
                  <li><a href="{{ author.lab_url }}"><i class="fa fa-fw fa-flask" aria-hidden="true"></i> {{ author.lab }}</a></li>
                  {% endif %}
                  {% if author.employer %}
                  <li><a href="{{ author.school_url }}"><i class="fa fa-fw fa-university" aria-hidden="true"></i> School of Data Science and Engineering,</a><br><a class="author__sub-link" href="{{ author.university_url }}">East China Normal University</a></li>
                  {% endif %}
                  {% if author.googlescholar %}
                  <li><a href="{{ author.googlescholar }}"><i class="fa fa-fw fa-graduation-cap" aria-hidden="true"></i> Google Scholar</a></li>
                  {% endif %}
                  {% if author.dblp %}
                  <li><a href="{{ author.dblp }}"><i class="fa fa-fw fa-book" aria-hidden="true"></i> DBLP</a></li>
                  {% endif %}
                  {% if author.email %}
                  <li><i class="fa fa-fw fa-envelope" aria-hidden="true"></i> {{ author.email }}</li>
                  {% endif %}
            </ul>
      </div>
</div>
