{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
{% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div class="academic-profile" itemscope itemtype="http://schema.org/Person">

      <div class="author__avatar">
            {% if author.avatar contains "://" %}
            <img src="{{ author.avatar }}" alt="{{ author.name }}">
            {% elsif author.avatar contains "/images/" %}
            <img src="{{ author.avatar }}" class="author__avatar" alt="{{ author.name }}">
            {% else %}
            <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar"
                  alt="{{ author.name }}">
            {% endif %}
      </div>

      <div class="author__content">
            <h3 class="author__name">{{ author.name | upcase }}</h3>
            {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
      </div>

      <div class="author__urls-wrapper">
            <button class="btn btn--inverse">Follow</button>
            <ul class="author__urls social-icons">
                  {% if author.lab %}
                  <li><a href="{{ author.lab_url }}"><i class="fa fa-fw fa-flask" aria-hidden="true"></i> {{ author.lab }}</a></li>
                  {% endif %}
                  {% if author.employer %}
                  <li class="author__affiliation"><i class="fa fa-fw fa-university" aria-hidden="true"></i><span class="author__affiliation-text"><a href="{{ author.school_url }}">School of Data Science and Engineering,</a><a href="{{ author.university_url }}">East China Normal University</a></span></li>
                  {% endif %}
                  {% if author.googlescholar or author.dblp %}
                  <li class="author__scholar-links"><i class="fa fa-fw fa-graduation-cap" aria-hidden="true"></i><span class="author__scholar-text">{% if author.googlescholar %}<a href="{{ author.googlescholar }}">Google Scholar</a>{% endif %}{% if author.googlescholar and author.dblp %}<span class="author__scholar-sep">&nbsp;&nbsp;</span>{% endif %}{% if author.dblp %}<a href="{{ author.dblp }}">DBLP</a>{% endif %}</span></li>
                  {% endif %}
                  {% if author.email %}
                  <li><i class="fa fa-fw fa-envelope" aria-hidden="true"></i> {{ author.email }}</li>
                  {% endif %}
            </ul>
      </div>
</div>
